* {
  box-sizing: border-box;
}

body {
font-family: 'Caveat Brush', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
    background-color:aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.timer{
  display: flex;
}
img {
  display: block;
  max-width: 100%;
}

.field{
  border: 1px solid;
  border-radius: 25px;
  margin-right: 20px;
  padding: 10px;
}
.value {
  font-family: 'Caveat Brush', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.label {
  font-family: 'Caveat Brush', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
input{
    font-family: 'Caveat Brush', cursive;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      margin: 20px;
      padding: 6px 12px;
      border-radius: 25px;
}
button{
  font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 145px;
    height: 40px;
    border-radius: 25px;
    color: royalblue;
    border-color: royalblue;
    background-color: aliceblue;
    cursor: pointer;
}
button:hover {
  color: aliceblue;
  border-color: royalblue;
  background-color: royalblue;
}
button:disabled{
  background-color: darkgray;
  border-color:slategrey;
  color: slategrey;
  cursor: not-allowed ;
}


ul{
  list-style: none;
}
li{
  margin: 20px;
  background-color: aliceblue;
}
a{
  padding: 6px 12px;
  border: 1px solid;
  border-radius: 25px;
  text-decoration: none;
  color:royalblue;
  background-color: aliceblue;
}
a:focus,
a:hover{
  color: aliceblue;
  background-color:royalblue;
}
input{
  background-color: aliceblue;
}